h1 {
  position: relative;
  font-size: 65px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1;
  
  @media screen and (max-height: 700px) {
    font-size: 45px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 45px;
    br {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: 30px;
    line-height: 1.15;
    margin-bottom: 30px;
  }
}

h2 {
  color: #fff;
  font-size: 47px;
  font-weight: 700;
  
  @media screen and (max-height: 700px) {
    font-size: 30px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

h3 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  
  @media screen and (max-height: 700px) {
    font-size: 22px;
    margin-bottom: 15px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

h4 {

}

h5 {

}

h6 {

}

p {
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

.font-weight-medium {
  font-weight: 500;
}

ul {

  li {

  }
}

ol {

  li {

  }
}

table {

}

tr {

}

th {

}

td {

}

a {

}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {

}

button {
  cursor: pointer;
  padding: 0;
  border: 0;

  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  cursor: pointer;
  border: 0;
}

img {

}

