/* Bootstrap */

.container {
  max-width: none !important;
}

/* Fullpage */

.fp-section.fp-table,
.fp-slide.fp-table {
  display: flex;
}

.fp-tableCell {
  display: flex;
  height: 100% !important;
}

.fp-viewing-slide1 {

  .nav {
    opacity: 0;
    pointer-events: none;
  }
}

.fp-viewing-slide2, .fp-viewing-slide3, .fp-viewing-slide4, .fp-viewing-slide5, .fp-viewing-slide6, .fp-viewing-slide7, .fp-viewing-slide8, .fp-viewing-slide9, .fp-viewing-slide10 {
  
  .nav {
    opacity: 1;
  }
}

.fp-viewing-slide11 {

  .header .logo,
  .header__contacts,
  .nav {
    opacity: 0;
    pointer-events: none;
  }
}

.fp-section {

  &.fp-completely {

    .feature {
      opacity: 0;
    }

    .section__content-picture {
      transition-delay: 0;
      transform: translateY(-250%);
    }
  }

  &.active {

    .section__content-picture {
      opacity: 1;
      transition-delay: .2s;
      transform: translateY(0);
    }

    .feature {
      opacity: 1;
    }
  }
}