doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug

  body
    block content
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(src="js/scripts.js?version=6")