.input {
  width: 100%;
  height: 41px;

  padding-bottom: 10px;

  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
  
  border: none;
  background-color: transparent;
  color: #fff;

  &--textarea {
    resize: none;
  }
}