mixin nav(modifier)
  ul.nav#nav&attributes(attributes)
    li.nav__item(data-menuanchor="slide2")
      a.nav__link(href="#slide2") начинаем / завершаем
    li.nav__item(data-menuanchor="slide3")
      a.nav__link(href="#slide3") дизайн / брендинг площадки
    li.nav__item(data-menuanchor="slide4")
      a.nav__link(href="#slide4") оборудование
    li.nav__item(data-menuanchor="slide5")
      a.nav__link(href="#slide5") сценарий / концепция / режиссура
    li.nav__item(data-menuanchor="slide6")
      a.nav__link(href="#slide6") инфраструктура / транспортные услуги
    li.nav__item(data-menuanchor="slide7")
      a.nav__link(href="#slide7") онлайн / оффлайн сервисы
    li.nav__item(data-menuanchor="slide8")
      a.nav__link(href="#slide8") полиграфия / сувенирная продукция
    li.nav__item(data-menuanchor="slide9")
      a.nav__link(href="#slide9") фото / видео
    li.nav__item(data-menuanchor="slide10")
      a.nav__link(href="#slide10") кейтеринг