.nav {
  position: fixed;
  z-index: 101;
  bottom: 89px;
  left: 100px;
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity .5s;

  @media (max-width: 1399px) {
    left: 60px;
    bottom: 40px;
  }

  @include media-breakpoint-down(lg) {
    left: 30px;
    bottom: 15px;
  }
  
  @media screen and (max-height: 700px) {
    bottom: 10px;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
  
  @media screen and (max-height: 600px) {
    display: none;
  }
  
  &--active {
    opacity: 1;
  }

  &__item {
    position: relative;
    display: block;

    &.active {

      .nav__link {
        opacity: 1;
      }

      &::before {
        opacity: 1;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-4px);
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0;
      transition: opacity .5s;

      @include media-breakpoint-down(lg) {
        left: -15px;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
      }
    }
  }

  &__link {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    white-space: nowrap;
    opacity: .2;
    transition: opacity .5s;

    &:hover {
      opacity: 1;
      color: #fff;
    }
  
    @media screen and (max-height: 749px) {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 3px;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 3px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}