.section {
  position: relative;
  height: 100vh;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    height: auto;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  &__content {
//    max-width: 728px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
      width: 50%;
    }

    @include media-breakpoint-down(sm) {
      order: -1;
      width: 100%;
      max-width: 350px;
      margin-bottom: 25px;
    }
  }

  &__content-picture {
    max-width: 100%;
    max-height: 100%;
    max-height: 90vh;
    width: auto;
    height: auto;
    position: relative;
    transform: translateY(250%);
    opacity: 0;
    backface-visibility: hidden;
    transition: 1s;
    display: inline-block;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      opacity: 1;
      transition: none;
      transform: translateY(0);
    }
  }

  &--slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .feature {
      padding: 135px 100px;
      padding-right: 0;
      max-width: 400px;

      @media (max-width: 1399px) {
        padding-left: 60px;
        padding-right: 60px;
      }

      @include media-breakpoint-down(lg) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @include media-breakpoint-down(md) {
        padding: 60px 15px;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }
}
