extends ../templates/template.pug
block content
  +header
  +nav
  .wrapper#fullpage
    .section.front
      .front__wrapper
        video.front__video#video(preload="auto", playsinline, autoplay, data-autoplay, data-keepplaying, muted, loop, poster="img/bg.jpg")
          source(src='img/bg.mp4', type='video/mp4')
        .front__content
          h1 Объединяем всё, <br>объединяющее Event
          a.btn.btn-outline-primary(href="img/portfolio.pdf") смотреть портфолио
          .row
            .col-md-4.mb-md-0.mb-20
              +feature('15 000', 'участников единовременно', 'Организация крупных конференций,  многодневных мероприятий')(class="feature--front")
            .col-md-4.mb-md-0.mb-20
              +feature('4 000', 'квадратных метров', 'Застроили территорию больше двух хокейных площадок')(class="feature--front")
            .col-md-4.mb-md-0.mb-20
              +feature('90', 'компаний партнёров', 'Взаимодействие с компаниями партнёров и спонсоров в рамках одного проекта')(class="feature--front")
    .section.section--slide(style="background-color: #5bb4f5")
      +feature('01', 'начинаем / завершаем', 'Предлагаем полный цикл организации Ваших событий.')
      .section__content
        img.section__content-picture(src="img/slide-1.png", alt="Picture")
    .section.section--slide(style="background-color: #71d9c2")
      +feature('02', 'дизайн / брендинг площадки', 'Разработаем фирменный стиль мероприятия. Изготовим инсталляции. Застроим и возведём конструкции.')
      .section__content
        img.section__content-picture(src="img/slide-2.png", alt="Picture")
    .section.section--slide(style="background-color: #dc6161")
      +feature('03', 'оборудование', 'Предоставим звук, свет, видеооборудование. Создадим спецэффекты.')
      .section__content
        img.section__content-picture(src="img/slide-3.png", alt="Picture")
    .section.section--slide(style="background-color: #0a2254")
      +feature('04', 'сценарий / концепция / режиссура', 'Разработаем сценарий, концепцию. Срежиссируем мероприятия. Подберем артистов.')
      .section__content
        img.section__content-picture(src="img/slide-4.png", alt="Picture")
    .section.section--slide(style="background-color: #dc6876")
      +feature('05', 'инфраструктура / транспортные услуги', 'Обеспечим безопасность мероприятия. Организуем транспортные услуги. Создадим правильную инфраструктуру.')
      .section__content
        img.section__content-picture(src="img/slide-5.png", alt="Picture")
    .section.section--slide(style="background-color: #f5cb62")
      +feature('06', 'онлайн / оффлайн сервисы', 'Используем современную технологию умонизации меропритиятий Paperless by RUVENTS.')
      .section__content
        img.section__content-picture(src="img/slide-6.png", alt="Picture")
    .section.section--slide(style="background-color: #1fe0e5")
      +feature('07', 'полиграфия / сувенирная продукция', 'Произведём сувенирную и полиграфическую продукцию с Вашим фирменным стилем.')
      .section__content
        img.section__content-picture(src="img/slide-7.png", alt="Picture")
    .section.section--slide(style="background-color: #754ecb")
      +feature('08', 'фото / видео', 'Создадим профессиональный видеоконтент. Сопроводим мероприятие фото и видеосъёмкой.')
      .section__content
        img.section__content-picture(src="img/slide-8.png", alt="Picture")
    .section.section--slide(style="background-color: #eabb7f")
      +feature('09', 'кейтеринг', 'Организуем питание на любой вкус. Установим мобильную кофейню.')
      .section__content
        img.section__content-picture(src="img/slide-9.png", alt="Picture")
    .section.contacts
      +map
      .contacts__wrapper
        .contacts__left
          +logo('logo--contacts')
          .contacts__content
            p.contacts__info hi@friendsevents.ru <br>+7 495 109-09-07
            .contacts__address
              span.contacts__address-content улица Пресненский <br>Вал, 27с2
              a.contacts__address-link(href="#")
        .contacts__right
          form.form(action="#", method="POST")
            .form__top
              .form__title Задайте свой вопрос
              .form__group.js-label-fly
                input.input(type="text", id="name")
                label(for="name") Имя
              .form__group.js-label-fly
                input.input(type="text", id="contacts")
                label(for="contacts") Контакты
              .form__group.js-label-fly
                textarea.input.input--textarea(id="message")
                label(for="message") Ваше письмо
            button.form__btn(type="submit")