.front {
  display: flex;
  min-height: 100vh;
  height: 100%;

  @include media-breakpoint-down(md) {
    height: auto;
    min-height: 1px;
  }

  .btn {
    position: relative;
    padding: 9px 27px;
    font-size: 26px;
    border-radius: 50px;
    transition: 0.3s;
    margin-bottom: 180px;

    &:hover, &:active, &:focus {
      border-color: #AFCB08;
      background-color: #AFCB08;
      color: #fff;
    }

    @media (max-height: 900px) {
      margin-bottom: 80px;
    }

    @media (max-height: 800px) {
      margin-bottom: 80px;
    }

    @media (max-height: 750px) {
      margin-bottom: 40px;
    }
  
    @media screen and (max-height: 700px) {
      font-size: 22px;
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 60px;
      font-size: 22px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      padding: 7px 25px 8px;
      margin-bottom: 30px;
    }
  }

  &__wrapper {
    overflow: hidden;
    position: relative;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      min-height: 1px;
      height: auto;
      padding-bottom: 40px;
    }
    
    @media screen and (max-height: 700px) {
      padding-top: 80px;
    }
  }
  
  &__content {
    max-width: 1140px;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      padding: 150px 15px 50px;
    }

    @include media-breakpoint-down(sm) {
      padding: 100px 15px 0;
    }
  }

  &__video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    z-index: -1;

    @include media-breakpoint-down(sm) {
      left: auto;
      top: auto;
      right: 0;
      top: 0;
      transform: none;
    }
  }
  
  h1 {
    position: relative!important;
    z-index: 1!important;
  }
  
  .btn {
    position: relative!important;
    z-index: 1!important;
  }
  
  .feature {
    opacity: 1!important;
    z-index: 1!important;
    display: block!important;
    position: relative!important;
  }
}
