.feature {
  max-width: 300px;
  max-height: 80vh;
  opacity: 0;
  transition: opacity .7s 1s;

  h2 {
    margin-bottom: 7px;
  }

  h3 {
    margin-bottom: 30px;
    line-height: 1;

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }
  }

  @include media-breakpoint-down(md) {
    opacity: 1;
    transition: none;
  }

  @include media-breakpoint-down(sm) {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  &__dscr {
    font-size: 20px;
    line-height: 26px;
  }

  &--front {
    opacity: 1;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
