.contacts {
  position: relative;
  padding: 165px 150px 125px 185px;

  .logo {
    flex: 1 0 auto;

    @include media-breakpoint-down(lg) {
      width: 300px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: 300px;
    }
  }

  @media (max-width: 1399px) {
    padding: 135px 60px;
  }

  @include media-breakpoint-down(lg) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @include media-breakpoint-down(md) {
    padding: 60px 15px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
    
  @media screen and (max-height: 700px) {
    padding-top: 80px;
    padding: 50px;
  }

  &__wrapper {
    position: relative;
    z-index: 3;
    z-index: 100;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    height: 100%;

    @include media-breakpoint-down(sm) {
      height: auto;
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 400px;

    @include media-breakpoint-down(lg) {
      width: 50%;
      padding-right: 10px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: 300px;
      padding-right: 0;
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      order: 2;
    }
  }

  &__content {
    flex: 0 0 auto;
    padding-left: 20px;
  }

  &__info {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 37px;
    line-height: 44px;

    @include media-breakpoint-down(lg) {
      font-size: 30px;
      line-height: 38px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 28px;
      line-height: 35px;
    }
  }

  &__address {
    display: flex;
    align-items: flex-start;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #fff;

    @include media-breakpoint-down(lg) {
      font-size: 22px;
      line-height: 29px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      line-height: 27px;
    }
  }

  &__address-link {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-left: 24px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
    }

    &::before {
      width: 100%;
      height: 2px;
      left: 0;
      background-color: #fff;
      transform: translateY(-50%);
    }

    &::after {
      content: '';
      right: -3px;
      width: 12px;
      height: 12px;
      transform: rotate(-45deg) translateY(-50%);
      margin-top: -2px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
    }
  }

  &__right {

    @include media-breakpoint-down(lg) {
      width: 50%;
      padding-left: 10px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      padding-left: 0;
    }
  }
}
