.map {

  &::before {
    content: '';
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .85);
  }

  &__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 120%;
    height: 100%;
    z-index: -1!important;
  }
}
