.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px;
  color: #ffffff;
  transition: opacity .5s;

  .logo {
    width: 165px;
    height: 45px;
    opacity: 1;
    transition: opacity .5s;

    @include media-breakpoint-down(xs) {
      width: 140px;
      height: 40px;
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 20px 15px;
  }

  @include media-breakpoint-down(md) {
    position: absolute;
    padding: 15px;
  }

  @include media-breakpoint-down(sm) {
    padding: 10px;
  }

  &__language {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 41px;
    height: 41px;
    font-size: 15px;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    padding-top: 2px;
    font-weight: 700;
    @include transition;

    @include media-breakpoint-down(xs) {
      font-size: 13px;
      width: 30px;
      height: 30px;
    }

    @media (max-width: 359px) {
      display: none;
    }
  }

  &__contacts {
    font-size: 17px;
    font-weight: 700;
    line-height: 29px;
    text-align: right;
    opacity: 1;
    transition: opacity .5s;

    @include media-breakpoint-down(xs) {
      font-size: 14px;
      line-height: 23px;
    }
  }

  &__link {
    display: block;
    @include transition;
  }
}