mixin header(modifier)
  .header&attributes(attributes)
    +logo
    a.header__language(href="#") Ru
    .header__contacts
      a.header__link(href="mailto:hi@friendsevents.ru") hi@friendsevents.ru
      a.header__link(href="tel:+74951090907") +7 495 109-09-07