.form {
  display: flex;
  flex-direction: column;
  width: 432px;
  height: 100%;
  padding-top: 45px;

  @include media-breakpoint-down(lg) {
    width: 100%;
    padding-top: 32px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }

  &__top {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  &__title {
    margin-bottom: 115px;
    font-size: 37px;
    font-weight: 700;
    line-height: 35px;
    color: #fff;

    @include media-breakpoint-down(lg) {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 60px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 50px;
    }
    
    @media screen and (max-height: 600px) {
      margin-bottom: 40px;
    }
  }

  &__group {
    position: relative;

    margin-bottom: 24px;
//    overflow: hidden;

    &.active {
      .input {
        margin-top: 29px;
      }

      label {
        top: -5px;

        &::after {
//          transform: translateX(0%);
          opacity: 1;
        }
      }
    }

    .input {
      position: relative;
      z-index: 1;
      transition: .3s margin-top;

      @include media-breakpoint-down(lg) {
        font-size: 18px;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 29px;
      }
    }

    .input:focus,
    .input:active {
      margin-top: 29px;

      & + label {
        top: -5px;

        &::after {
          transform: translateX(0%);
          opacity: 1;
        }
      }
    }

    label {
      position: absolute;

      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      font-size: 26px;
      font-weight: 700;
      line-height: 29px;

      color: #fff;

      transition: .3s top;

      &::after {
        content: '';

        position: absolute;

        top: 100%;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: #fff;

//        transform: translateX(-100%);
        opacity: 0;
        @include transition;

        @include media-breakpoint-down(sm) {
          transform: translateX(0);
          opacity: 1;
        }
      }

      @include media-breakpoint-down(lg) {
        font-size: 22px;
        line-height: 29px;
      }

      @include media-breakpoint-down(sm) {
        top: -5px;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }

  &__btn {
    position: relative;
    flex: 0 0 auto;
    width: 50px;
    height: 50px;

    margin-top: auto;
    margin-left: auto;

    background-color: transparent;
    border: none;

    &::before,
    &::after {
      content: '';
      display: block;

      position: absolute;

      top: 50%;
      left: 50%;
    }

    &::before {
      width: 30px;
      height: 4px;
      background-color: #fff;
      transform: translateX(-50%);
    }

    &::after {
      content: '';

      top: 15px;
      left: 17px;

      width: 23px;
      height: 23px;

      border-right: 4px solid #fff;
      border-bottom: 4px solid #fff;

      transform: rotate(-45deg);
    }
  }
}
